.order-form {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.order-form-forgot {
    float: right;
}
.order-form-button {
    margin-top: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}





